<div class="generic-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Usuario </span>
		</div>
		<div class="panel-body">
			<div class="formcontainer">
				<div class="alert alert-success" role="alert"
					ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
				<div class="alert alert-danger" role="alert"
					ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
				<form ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.user.id" />
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="unome">Nome</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.nome" id="unome"
									class="username form-control input-sm"
									placeholder="Digite seu nome" required ng-pattern="ctrl.onlyChars" ng-minlength="3"
								 />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="telefone">Telefone</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.telefone" id="telefone"
									class="form-control input-sm" placeholder="(xx)xxxxx-xxxx"
									required ng-pattern="ctrl.onlyTelefone"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="email">E-mail</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.email" id="email"
									class="form-control input-sm" placeholder="example@example.com"
									required ng-pattern="ctrl.onlyEmail"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="sexo">Sexo</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.sexo" id="sexo"
									class="form-control input-sm" placeholder="Masc/Fem"
									required ng-pattern="ctrl.onlySexo"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="{{!ctrl.user.id ? 'Salvar' : 'Atualizar'}}"
								class="btn btn-primary btn-sm"
								ng-disabled="myForm.$invalid || myForm.$pristine">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Limpar
								Formulario</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<a class="btn btn-info custom-width" ui-sref="user">Voltar</a>
</div>